@model PMS.Models.InvoiceApprovalInfoViewModel
@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.min.css">
<!-- plugins -->
<link rel="stylesheet" type="text/css" href="/Content/css/plugins/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/Content/css/plugins/simple-line-icons.css" />
<link rel="stylesheet" type="text/css" href="/Content/css/plugins/animate.min.css" />
<link rel="stylesheet" href="~/Content/css/jquery-ui.css">
<link href="/Content/css/style.css" rel="stylesheet">
<script src="/Content/js/jquery.min.js"></script>
<script src="/Content/js/jquery.ui.min.js"></script>

<div class="container" style="width:850px;">
    <div class="row">
        <div class="col-md-12">
            <h4 class="animated fadeInLeft text-primary">Approval Info</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Project Number</th>
                        <th>Salesmen</th>
                        <th>Invoice Amt</th>
                        <th>Invoice Amt(Gst)</th>
                        <th>Agreed Amt</th>
                        <th>Agreed Amt(Gst)</th>

                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ApprovalInfoList.Count == 0)
                    {
                        <tr>
                            <td colspan="4"><p class="alert alert-info" role="alert">Record Not Found.</p></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var pdlist in Model.ApprovalInfoList)
                        {
                            <tr>
                                <td>@pdlist.ProjectNumber</td>
                                <td>@pdlist.Salesman</td>
                                <td>@pdlist.agreed_amt_without_gst</td>
                                <td>@Html.Raw(pdlist.invoice_amt_with_gst)</td>
                                <td>@Html.Raw(pdlist.agreed_amt_without_gst)</td>
                                <td>@pdlist.Agreed_Amt</td>
                                @*<td><a target="_blank" title="View document" href="@pdlist.document_path/@pdlist.file_name">View</a></td>*@
                            </tr>

                        }

                    }



                </tbody>
            </table>
            <form class="form-horizontal" id="frmAddJob" name="frmAddJob" method="post" enctype="multipart/form-data">
                <table class="table">
                    <tr>
                        <td><strong>Approved Amount</strong></td>
                        <td>
                            <input type="text" id="ApprovedAmount" name="ApprovedAmount" value="@Model.ApprovedAmount" />
                            @*<input type="hidden" id="project_id" name="project_id" />*@
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Approved Remarks</strong></td>
                        <td><input type="text" id="ApprovedRemarks" name="ApprovedRemarks" value="@Model.ApprovedRemarks" rows="3" cols="40"></Input></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" id="btnSave" name="Save" value="Save" class="btn btn-secondary"  onclick="SaveForm();" href="Javascript:void(0)"  />
                            <input type="button" id="btnClose" name="Close" value="Close" class="btn btn-secondary" data-dismiss="modal"/>
                        </td>
                    </tr>                    
                </table>
            </form>


        </div>
    </div>
</div>

<style>
    body {
        background: #fff !important;
    }

    .container {
        font-size: 12px;
    }
</style>
<script>

    function SaveForm() {
        debugger;
        var InvoiceId = @Model.Id;
        var Amount = $("#ApprovedAmount").val();
        var Remarks = $("#ApprovedRemarks").val();
        /*alert(prjid);*/
            $.ajax({
                type: "POST",
                url: "/Invoice/UpdateApprovedStatus", // the URL of the controller action method
                data: {
                    InvoiceId: InvoiceId,
                    Amount: Amount,
                    Remarks: Remarks
                },
                success: function (result) {
                    debugger;
                    notify(result.msg, "success");
                    //$("#remarks").html("Receipt - " + result);
                },
                error: function (req, status, error) {

                }
            });
        }

</script>
